.numbers, .operators{
 display: inline-block;
}

.operator{
  display: block;
}

.operator-button {
  width: 30px;
  background-color: #DCDEB7 ;
}

.display {
  background-color: #EAECCE;
  width: 100px;
  display: inline-block;
}

html {
  display: flex;
  justify-content: center;
}

#equalTo {
  background-color: #DCDEB7;
  display: inline-block;
  width: 46px;
}

#delete {
  background-color: rgb(228, 149, 149);
}